[include]
    path = ~/.gitconfig.local

[core]
    autocrlf = input
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[merge]
    tool = nvimdiff

[mergetool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE" -c 'wincmd l'
    keepBackup = false

[push]
    autoSetupRemote = true

[init]
    defaultBranch = main

[alias]
  pick = "!f() { \
    cmd=$1; \
    shift; \
    git status --short | \
    cut -c4- | \
    fzf -m \
      --preview 'git diff HEAD --color=always -- {} | delta --width=$FZF_PREVIEW_COLUMNS | head -500' \
      --preview-window 'up,80%' \
      --bind 'ctrl-a:select-all,ctrl-x:deselect-all,ctrl-u:preview-half-page-up,ctrl-d:preview-half-page-down' \
      --header 'Select files for git $cmd (TAB: Toggle | CTRL-A: All)' | \
    tr \"\\n\" \"\\0\" | \
    xargs -0 -r git \"$cmd\" \"$@\"; \
  }; f"
